# Backend API Endpoint
# Gunakan http://10.0.2.2:5000/api/v1 jika menggunakan Android Emulator
# Gunakan http://localhost:5000/api/v1 jika menggunakan iOS Simulator / Web
# Gunakan IP Wi-Fi PC (contoh: http://192.168.1.10:5000/api/v1) jika menggunakan HP Asli
# EXPO_PUBLIC_API_BASE_URL=http://localhost:5000/api/v1
EXPO_PUBLIC_API_BASE_URL=http://192.168.100.221:5000/api/v1
